"*":
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "FiraCode-Light"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "07ca3f78-338e-44ae-b729-6f573e4fc5ec"
  "language-elm":
    elmOraclePath: "/Users/andreluisasantos/.nvm/versions/node/v8.9.4/bin/elm-oracle"
  "linter-ui-default":
    panelHeight: 199
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
